{% extends 'base.html' %}

{% block body %}
<form method="post"  action=""  class="w-50 container">
  {{ form.hidden_tag() }}
  <fieldset class="container rounded" style="margin-top: 6rem; padding: 15px 25px 20px 25px; border: 1px solid grey;">
    <div class="mb-3 border-bottom border-3">
    <h5>Reset Password</h5>
  </div>

   
    <div style="margin-bottom: 1rem;">
      {{form.password.label(class="form-control-label")}}
      {% if form.password.errors %}
      {{form.password(class="form-control is-invalid")}}
      <div class="invalid-feedback">
        {% for error in form.password.errors %}
        <span>{{error}}</span>
        {% endfor %}
        {% else %}
        {{form.password(class="form-control ")}}
        {% endif %}
      </div>
      <div style="margin-bottom: 1rem;">
        {{form.confirm_password.label(class="form-control-label")}}
        {% if form.confirm_password.errors %}
        {{form.confirm_password(class="form-control is-invalid")}}
        <div class="invalid-feedback">
          {% for error in form.confirm_password.errors %}
          <span>{{error}}</span>
          {% endfor %}
        </div>

        {% else %}
        {{form.confirm_password(class="form-control ")}}
        {% endif %}
      </div>
      <div style="margin-bottom: 1rem;">
        {{form.submit(class="btn btn-outline-info")}}</div>
  </fieldset>

</form>


{% endblock body %}