{% extends 'base.html' %}

{% block body %}
<div class="fixed-top " style="width: 30%;  left: 70%; top: 10%;">
  <div class="card  " style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Our Sidebar</h5>
      <p class="card-text">You can put any information you'd like.</p>
    </div>
    <ul class="list-group list-group-flush mb-3 ms-3 me-3 border rounded">
      <a href="#" class="list-group-item">Latest Posts</a>
      <a href="#" class="list-group-item">Announcements</a>
      <a href="#" class="list-group-item">Calenders</a>
      <a href="#" class="list-group-item">etc</a>
    </ul>

  </div>
</div>

<fieldset class=" border  " style="margin-top: 5%; width: 40%;  padding: 20px; margin-left: 23%;">
       <h3>Something went wrong (500)</h3>
        <p>We're experencing some trouble on our end. Please try again in future</p>
    </fieldset>

{% endblock body %}
